doctype html
html
  head
    title Custom Object Records
  body
    h1 Custom Object Records
    a(href="/update-cobj") Add New Record
    if records.length > 0
      table(border="1")
        thead
          tr
            th Name
            th Color
            th Nickname
        tbody
          each record in records
            tr
              td= record.properties.pet_name      
              td= record.properties.pet_color     
              td= record.properties.nickname       
    else
      p No records found.
